<div id="msg" class="row">
	<hr class="divider"></hr>
	<% if message.seen && inbox %>
		<div id="msg-stat" class="seen-message" >
	<% else %>
		<div id="msg-stat" class="unseen-message" >
	<% end %>
	<!-- Mark as seen Button -->
	
	<h5> Sent From: <%= link_to message.sender.name, message.sender %>
		<div class="pull-right"> <%= message.created_at.localtime.strftime("sent at %m/%d/%y %r") %></div>
	</h5>

	<h5> To: <%= link_to message.receiver.name, message.receiver %>  
	<div id="seen-notice" class="pull-right"> 
		<% if inbox && !message.seen  %>
			<%= button_tag "mark as seen", :onclick => "seen_message(this)", :data =>{:id => message.id} %>
		<% elsif message.seen %>
			<i> seen </i>
		<% end %>
	</h5>
	<h6>
		<div class="pull-right"> 
			<%= button_tag "Delete", :onclick =>"javascript:delete_message(this)", :data =>{:id => message.id} %> 
		</div>
	</h6>
	<% if inbox %>
	<div>
		<%= link_to "Reply", newmessage_path(:recipient => message.sender) %>
	</div> 
	<% end %>
	<% if message.trade %>
		<%= render 'shared/item_small', :item =>message.received.name %>
	<%end %>
	<div class="col-md-8">
		<p><%=message.message %></p>
	</div>

	</div>
</div>