<div class="form container-fluid col-md-offset-2 col-md-8 fixed-nav-padding" >
<%= form_for(@message) do |f| %>
	<%= render 'shared/error_messages_message' %>
		<div class="hidden-input">
			<%= f.hidden_field :sender_id%>
		</div>
	<% if @recipient %>
		<div class="input-field">
			<%= f.label "To:" %>
			<%= f.hidden_field :receiver_id, :value => @recipient.id %>
			<div style="font-size: 16px;">
				<b><%= @recipient.name %></b>
			</div>
		</div>
	<% else %>
		<div class="input-field">
			<%= f.label "To:" %>
			<%= f.select :receiver_id, @dropdown %>
		</div>	
	<% end %>

		<%= f.hidden_field :trade %>
	<% if @game_trade && @selected_game %>
		<div id="games">
			<%= f.label "The game you want:" %>
			<%= f.select :rec_item_id, @theirgames, :selected => @selected_game.id %>
		</div>
	<% elsif @game_trade %>
		<div id="games">
			<%= f.label "The game you want:" %>
			<%= f.select :rec_item_id, @theirgames, :include_blank =>true %>
		</div>
	<% end %>

		<h4><%= f.label "Message Body:" %></h4>
		<div class="row">
			<%= f.text_area :message, :cols => '60', :rows => '10' %>
		</div>
<%= f.submit "submit", class: "btn btn-primary", style: "margin-top: 10px;" %>
<% end %>
</div>