<%= form_tag(search_path, :method => "get", id: "advanced-search", class: "form-group") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Advanced Search", class: "form-control" %>
  <%= radio_button_tag(:users, "Users") %>
  <%= label_tag(:users, "Users") %>
  <%= radio_button_tag(:desc, "Description") %>
  <%= label_tag(:desc, "Item description") %>
  <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
<% end %>

<% if @users.present? %>
  <h1> Users </h1>
  <%= render @users, locals: {user: @users} %>
<% elsif @items.present? %>
	<h1> Items </h1>
	<%= render @items, locals: {item: @items} %>
<% else %>
  <h1> Nothing matches </h1>
<% end %>