<div class="row">
<div class="col-md-2 container-fluid text-center">

<h1> Welcome <br><%= @user.name %> </h1>
 
<%= @user.email %>
<br>
<%if @myprofile %>
	<div>
      <%= button_to "update inventory", steampull_path, :method => :get %>
  </div>
  <div>
    <%= link_to "edit my profile", edit_user_path %>
  </div>
<% else %>
Isn't there profile better than yours?
<% end %>
</div>
<div class=" col-md-4 container-fluid">

 <div class="text-center">
  <% if @myprofile %>
	 <h2>Your Inventory for trade!</h2>
  <% else %> 
    <h2> <%= @user.name %>'s Inventory </h2>
  <% end %>
 </div>
 
  <% for i in @games %>
    <div class="row">
      <%= render "shared/item",:item => i %>
    </div>
  <% end %>
</div> 

<div class="col-md-1"></div>

<div class=" col-md-4 container-fluid">

 <div class="text-center">

  <% if @myprofile %>
  <h2>Your Wishlist!</h2>
  <%= link_to "Edit your Wishlist", wishlist_url %>
  <% else %> 
  <h2> <%= @user.name %>'s Wishlist </h2>
  <% end %>
 </div>

 
  <% for i in @wishlist %>
  <div class="row">
    <%= render "shared/item",:item => i %>
  </div>
  <% end %>
</div> 

