<div class="row">
<!-- Begininig of sidebar -->
<div class="col-md-2 container-fluid text-center">

<h1> Welcome <br><%= @user.name %> </h1>
<%=button_to (@user.name+"'s Steam profile"), @user.steam_id, class: "btn btn-primary" %>
<br>
<%if @myprofile %>
	<div>
      <%= button_to "Update Inventory", steampull_path, :method => :get, class: "btn btn-primary" %>
  </div>
  <br>
  <div>
    <%= button_to "Edit My Profile", edit_user_path, :method => :get, class: "btn btn-primary" %>
  </div>
  <br>
  <div id='Msg-count'>
    <a href=<%= messages_path %> >
    <button class="btn btn-primary" type="button">
      Messages <span class="badge"><%=@messages %></span>
    </button>
    </a>
  </div>
<% else %>
<% if logged_in? %>
  <%= link_to "Send Message", newmessage_path(:recipient => @user.id) %> 
  <% end %>
<% end %>
</div>

<!-- Ending of sidebar -->

<!-- Inventory -->
<div class=" col-md-4 container-fluid">

 <div class="text-center">
  <% if @myprofile %>
	 <h2>Your Inventory for trade!</h2>
  <% else %> 
    <h2> <%= @user.name %>'s Inventory </h2>
  <% end %>
 </div>
 <center>
  <% for i in @games %>
    <%= render "shared/item_small",:item => i %>
  <% end %>
  <%= will_paginate @games, :param_name => 'games_page' %>
  </center>
</div> 

<div class="col-md-1"></div>

<!-- Wishlist -->
<div class=" col-md-4 container-fluid">

 <div class="text-center">

  <% if @myprofile %>
  <h2>Your Wishlist!</h2>
  <%= button_to "Edit Your Wishlist", wishlist_url, :method => :get, class: "btn btn-primary" %>
  <% else %> 
  <h2> <%= @user.name %>'s Wishlist </h2>
  <% end %>
 </div>
 <center>
  <% for i in @wishlist %>
    <%= render "shared/item_small",:item => i %>
  <% end %>
  <%= will_paginate @wishlist, :param_name => 'wishlist_page' %>
  </center>
</div> 
</div>


