<div class="row">
<!-- Begininig of sidebar -->
<div class="col-md-2 container-fluid text-center">

<h1> Welcome <br><%= @user.name %> </h1>
<%=link_to (@user.name+"'s Steam profile"), @user.steam_id %>
<br>
<%if @myprofile %>
	<div>
      <%= button_to "update inventory", steampull_path, :method => :get %>
  </div>
  <div>
    <%= link_to "edit my profile", edit_user_path %>
  </div>
  <div id='Msg-count'>
    <a href=<%= messages_path %> >
    <button class="btn btn-primary" type="button">
      Messages <span class="badge"><%=@messages %></span>
    </button>
    </a>
  </div>
<% else %>
Isn't there profile better than yours?
<% end %>
</div>

<!-- Ending of sidebar -->

<!-- Inventory -->
<div class=" col-md-4 container-fluid">

 <div class="text-center">
  <% if @myprofile %>
	 <h2>Your Inventory for trade!</h2>
  <% else %> 
    <h2> <%= @user.name %>'s Inventory </h2>
  <% end %>
 </div>
 <center>
  <% for i in @games %>
    <%= render "shared/item_small",:item => i %>
  <% end %>
  </center>
</div> 

<div class="col-md-1"></div>

<!-- Wishlist -->
<div class=" col-md-4 container-fluid">

 <div class="text-center">

  <% if @myprofile %>
  <h2>Your Wishlist!</h2>
  <%= link_to "Edit your Wishlist", wishlist_url %>
  <% else %> 
  <h2> <%= @user.name %>'s Wishlist </h2>
  <% end %>
 </div>
 <center>
  <% for i in @wishlist %>
    <%= render "shared/item_small",:item => i %>
  
  <% end %>
  </center>
</div> 
</div>


