<div class="col-md-4">
  <div class="thumbnail item-thumbnail">
    <img src=<%= item.img_url %> >
    <div class="caption">
      <h3> <%= item.name %> </h3> 
      <h6> <%= link_to "Store Page", item.steam_url %> <%= link_to "Item Page", item %> </h6>
      
      <p> <%= truncate(item.description, length: 120) {link_to "Continue", item} %> </p>
    </div> 
  </div> 
</div>