<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>

<div class="row">
  <div class="col-md-6">
    <h1><center> <%= @item.name %> </center></h1>
    <center> <img src= <%= @item.img_url %> width="500" height="200"> </center>
    <center> <p> <%= button_to "Store Page", @item.steam_url, class: "btn btn-primary" %> </p> </center>
    <% if @inWishlist %>
      <div style="color: blue;"> 
        <center> <i>In your wishlist </i> </center>
      </div>
    <% else %>
     <center>
      <%= button_to "Add to Wishlist", 'add_to/', :class => "btn btn-primary", :params =>{:id => @item.id} %>
     </center>
    <% end %>


    <center> <p class="item-paragraph" align="left"> <%= raw @item.description %> </p>
    <center> <p> <%= button_to "Back", items_path, :method => :get, class: "btn btn-primary" %> </p> </center>
  </div> <!-- game column -->

  <div class="col-md-3">
    <h1><center> Users </center></h1>
    <% if @users.nil? %> 
      <p> Currently no users have this game! </p>
    <% else %>
      <ul class="list-group">
      <% for j in @users %>
        <li class="list-group-item"> 
          <%= link_to "#{j.name}", j %> 
          <% if logged_in? %>
            <% if j.id != current_user.id %>
            <%= link_to "Send Trade Message", newmessage_path(:recipient => j.id, :game_trade => true, :item_req => @item.id) %>
            <% end %>
          <% end %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div> <!-- users column -->

  <div class="col-md-3">
    <h1 data-toggle="tooltip" title="Users who own this game and have a game in their wishlist that you own"><center> Possible Traders </center></h1>
    <% if logged_in? %>
      <% if @traders.length == 0 %>
        <ul class="list-group">
          <li class="list-group-item"> No traders at this time! </li>
        </ul>
      <% else %>
        <ul class="list-group">
          <% for i in @traders %>
            <li class="list-group-item">
                <%= link_to "#{i.name}", i %>
                <% if i.id != current_user.id %> 
                <%= link_to "Send Trade Message", newmessage_path(:recipient => i.id, :game_trade => true ,:item_req => @item.id) %>
                <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% else %>
      <p> Please log in to see possible traders! </p>
    <% end %>
  </div> <!-- users who have this game that want a game in your inventory -->
</div> <!-- row -->